html,
body,
div#root,
.app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

/* {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
} */

.app {
  background-color: #383e4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Playfair Display';
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  height: 100%;
  max-height: 550px;
  max-width: 140px;
  padding: 15px;
}

.navBtn {
  border-radius: 6px;
  background-color: #737780;
  padding: 6% 3%;
}

.mainContainer {
  width: 70vw;
  height: 94vh;
  background-color: antiquewhite;
  margin: 3vh 0 3vh 0;
  border-radius: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(194, 194, 194);
  border-radius: 10px;
  width: 20%;
  height: 94%;
  margin: auto 15px;
}

@media screen and (max-width: 700px) {
  .app {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    flex-direction: row;
    width: 100%;
    height: 15%;

    max-width: 100%;
    justify-content: center;
  }

  .navBtn {
    max-width: 15%;

    padding: 0;
  }

  .mainContainer {
    width: 90%;
    height: 65%;
    margin: 0 5%;
  }

  .sidebar {
    flex-direction: row;
    width: 100%;
    height: 20%;
    max-width: 100%;
  }
}

/* Carousel Styling! */
#about::before,
#about::after {
  box-sizing: border-box;
  position: relative;
}

#about {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  display: grid;
}

.slides > .slide {
  grid-area: 1 / -1;
}

.slides > button {
  appearance: none;
  background: transparent;
  border: none;
  color: black;
  position: relative;
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
  top: 30%;
  transition: opacity 0.3s;
  opacity: 0.7;
  z-index: 5;
}

.slides > button:hover {
  opacity: 1;
}

.slides > button:focus {
  outline: none;
}

.slides > button:first-child {
  left: -50%;
}

.slides > button:last-child {
  right: -50%;
}

.slideContent {
  width: 60vw;
  height: 80vw;
  background-size: fill;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;
  display: grid;
  align-content: end;
  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
  text-align: center;
  transform-style: preserve-3d;
  transform: translateZ(2rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
}

.slideContentInner .slideSubtitle,
.slideContentInner .slideTitle {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.2ch;
  text-transform: uppercase;
  margin: 0;
}

/* .slideContentInner .slideDescription {
  margin: 0;
  font-size: 0.8rem;
  letter-spacing: 0.2ch;
} */

.slideBackground {
  /* position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0; */
  width: 100%;
  height: 100%;
  /* background-size: cover; */
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;
  transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;
}

.slide[data-active] .slideBackground {
  opacity: 0.2;
  transform: none;
}

.slide[data-active] .slideContentInner {
  opacity: 1;
}

.slide[data-active] .slideContent {
  --x: calc(var(--px) - 0.5);
  --y: calc(var(--py) - 0.5);
  opacity: 1;
  transform: perspective(1000px);
}

.slide[data-active] .slideContent:hover {
  transition: none;
  transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
    rotateX(calc(var(--y) * -45deg));
}
